* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(245, 211, 167);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-family: 'Monospace', sans-serif;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: #333;
}

table {
    width: 80%;
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: 'Monospace', sans-serif;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 1.1rem;
}

th, td {
    padding: 0.8rem;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: rgb(243, 177, 90);
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f3e4;
}

#a1, #a2 {
    font-family: 'Monospace', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: none;
    padding: 0.8rem;
    color: #ff9800;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.3s ease;
    margin: 0.5rem;
}

#a1:hover, #a2:hover {
    background: lightyellow;
    transform: translateY(-3px);
}

#a1 {
    position: absolute;
    top: 6rem;
    right: 2rem;
}

#a2 {
    position: absolute;
    top: 6rem;
    right: 8rem;
}

a {
    text-decoration: none;
    color: #ff9800;
}

#a4 {
    text-decoration: none;
    color: #ff9800;
    font-size: 17px;
    border: none;
    background: none;
    cursor: pointer;
}

#a3:hover, #a4:hover, #a5:hover {
    background: lightyellow;
    transform: translateY(-3px);
    font-size: 20px;
}