* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(245, 211, 167);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.sign-in {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 1.5rem;
    align-items: center;
    border-radius: 12px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 2rem;
    width: 28rem;
    transition: all 0.3s ease;
}

.sign-in:hover {
    transform: translateY(-5px);
}

h2 {
    font-family: 'Monospace', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #333;
}

p {
    font-family: 'Monospace', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #e74c3c;
    text-align: center;
}

.sign-in input[type="submit"] {
    grid-column: span 1;
    padding: 1rem;
    background: #ff9800;
    border: none;
    font: inherit;
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    transition: background 0.3s ease, transform 0.3s ease;
}

.sign-in input[type="submit"]:hover {
    background: #ff5722;
    transform: translateY(-3px);
}

.inputs {
    padding: 0.8rem;
    border: none;
    background: #f9f3e4;
    border-radius: 6px;
    font-family: monospace;
    font-size: 1.1rem;
    color: #555;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.inputs:focus {
    outline: none;
    border: 2px solid #ff9800;
}

.inputs:focus-visible {
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}
