* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(245, 211, 167);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
}

.sign-in {
    position: relative;
    display: grid;
    width: 60%;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    margin: 0;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 900;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    align-items: center;
    grid-gap: 1rem;
    background-color: rgb(248, 232, 210);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.sign-in:hover {
    transform: translateY(-5px);
}

h2 {
    font-family: 'Monospace', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #333;
}

p {
    font-family: 'Monospace', sans-serif;
    font-size: 1.2rem;
    margin: 0;
    color: #e74c3c;
    text-align: center;
}

.button-container {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.href {
    display: contents;
}

.button {
    grid-column: span 1;
    padding: 1rem;
    background: #ff9800;
    border: none;
    font: inherit;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    transition: background 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background: #ff5722;
    transform: translateY(-3px);
}

.button:focus {
    outline: none;
}

.inputs {
    padding: 0.8rem;
    border: none;
    background: #f9f3e4;
    border-radius: 6px;
    font-family: monospace;
    font-size: 1.1rem;
    color: #555;
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.inputs:focus {
    outline: none;
    border: 2px solid #ff9800;
}

.inputs:focus-visible {
    box-shadow: 0 0 5px rgba(255, 152, 0, 0.5);
}

.href_pass {
    position: absolute; /* Position absolue pour déplacer le lien */
    right: 32px; /* Décalage du côté droit */
    top: 68%; /* Centré verticalement par rapport au formulaire */
    transform: translateY(-50%); /* Correction pour le centrage vertical */
    font-size: 14px;
    color: #ff9800;
    text-decoration: underline;
    cursor: pointer;
}

.href_pass:hover {  
    color: #ff5722;
}

.close-button {
    position: absolute;
    top: 2px;
    right: 14px;
    font-size: 3rem;
    color: #ff9800;
    text-decoration: none;
    cursor: pointer;
    background: none;
    border: none;
    font-weight: bold;
}

.close-button:hover {
    color: #ff5722;
}
